<h1>teste</h1>

<h2><%= @info %></h2>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aliquid expedita amet esse impedit ab nihil omnis est voluptatum, 
    quam atque, deleniti dolor? Provident quia eligendi architecto vel accusantium? Ut!
</p>

