<div id="<%= dom_id ticket %>">
  <div>
    <strong>Title:</strong>
    <%= ticket.title %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= ticket.price %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= ticket.description %>
  </div>

</div>
